@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  padding: 4px 16px;
  border-radius: 4px;
  background-color: #3882f6;
  color: #f9faf8;
  font-weight: 600;
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 8vw;
  gap: 8px;
  flex-wrap: wrap;
  background: #1f2937;
}

.header-links {
  list-style: none;
  display: flex;
  gap: 16px;
}

.header-links a {
  color: #e5e7eb;
  text-decoration: none;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 900;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e5e7eb;
  padding: 24px;
  background: #1f2937;
}

.hero {
  background: #1f2937;
  display: flex;
  gap: 16px;
  padding: 24px 8vw;
  justify-content: space-between;
  align-items: center;
}

.hero-content {
  max-width: 700px;
}

.hero-heading {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero-text {
  font-size: 18px;
  color: #e5e7eb;
  margin: 16px 0;
}

.hero-image {
  min-width: 0;
  max-height: 400px;
  width: auto;
  object-fit: cover;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
  }
  .hero-image {
    max-height: none;
  }
}

.info {
  padding: 32px 8vw 96px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  text-align: center;
}

.info-heading {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.info-list {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
}

.info-list li {
  width: 250px;
}

.info-list img {
  border-radius: 8px;
  aspect-ratio: 1;
  margin-bottom: 16px;
}

.quote {
  padding: 36px 8vw;
  background: #e5e7eb;
  font-size: 36px;
  color: #1f2937;
  text-align: center;
}

.quote-text {
  font-weight: 300;
  font-style: italic;
}

.quote-author {
  font-weight: 500;
  white-space: nowrap;
}
